<audio
  src="/assets/audio/Return of the Heroes.mp3"
  #audioRef
  controls
  (play)="handlePlay()"
></audio>

<app-equalizer #eqRef></app-equalizer>

<canvas
  oscilloscope
  #timeDomainOscilloscope="oscilloscope"
  type="time"
  [fftSize]="1024"
></canvas>
<canvas
  oscilloscope
  #frequencyDomainOscilloscope="oscilloscope"
  type="frequency"
  [fftSize]="1024"
></canvas>

<a
  href="https://github.com/YES-Lee/web-audio-demo/blob/7122b3bac6eaf4229d79154b427315d70258249c/src/app/components/equalizer/equalizer.component.ts"
  mat-button
  target="_blank"
  >查看源码</a
>
