:host {
  display: block;
  text-align: center;
}

canvas {
  border: 2px solid #ccc;
  display: block;
  margin: 10px auto;
  width: 512px;
  height: 100px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 0),
    linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 0),
    linear-gradient(90deg, rgba(0, 0, 0, 0.08) 1px, transparent 0),
  ;
  background-size: 10px 10px, 10px 10px, 50px 50px, 50px 50px;
}

.controls {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
