:host {
  display: block;
  position: relative;
  text-align: center;
}

audio {
  display: block;
  margin: 0 auto 10px;
}

.controllers {
  margin: 0 auto;
  .top, .middle, .bottom {
    text-align: center;
    margin: 5px;
  }
  .middle {
    >button, >.monitor {
      margin: 0 5px;
    }
    .monitor {
      display: inline-block;
      text-align: center;
      width: 100px;
      padding: 10px 0;
    }
  }
}

canvas {
  display: block;
  border: 1px solid #ddd;
  width: 500px;
  height: 400px;
  margin: 10px auto;
}
